*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Alegreya;
}

html,body{
    width: 100%;
    height: 220%;
    background-color: #EEEEEE;
}

.menubar {
    width: 100%;
    height: 85px;
    background: linear-gradient(to bottom, rgb(15, 98, 171), #00ADB5);
    /* position: fixed; */
    display: grid;
    grid-template-columns: 20% 16% 16% 16% 16% 16%;
    padding-left: 200px;
    padding-top: 33px;
}

.menubar p{
    font-weight: 500;
    font-size: 20px;
    color: white;
}

.introduction {
    display: grid;
    height: 750px;
    grid-template-columns: 45% 55%;
    background-color: #EEEEEE;
}

.introduction #left {
    padding-top: 250px;
    padding-left:  250px;
    color: black;
}

#left p {
    font-size: 40px;
}
#left .name {
    font-size: 40px;
    
}
#left #ocp {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    color: #FF5722;
}
#left a {
    font-size: 24px;
    text-decoration: none;
    color: black;
}
#right #pic {
    background: url(Assets/Pic.jpg);
    height: 400px;
    width: 400px;
    border: 3px solid black;
    margin-top: 120px;
    margin-left: 150px;
    background-position: 50% 50%;
    background-size: cover;
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
}

@keyframes animate {
    0%, 100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40% ;
    }
    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
}

.about {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 700px;
    background-color: #FF5722;
}
.about .inner {
    display: grid;
    height: 550px;
    width: 1200px;
    grid-template-columns: 40% 60%;
}
.about #left {
    background: url(Assets/aboutpic.jpeg);
    background-position: center;
    background-size: cover;

}
.about #right {
    margin-left: 120px;
    margin-top: 20px;
    font-weight: 300;
}
.about #right h1 {
    margin-bottom: 30px;
}
.about #right p {
    font-size: 24px;
    font-family: Merriweather;
    line-height: 40px;
}
.education {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: #18AEC7;
}
.education .inner {
    display: grid;
    height: 480px;
    width: 1200px;
    grid-template-columns: 60% 40%;
}

.education #left {
    /* border: 3px solid greenyellow; */
    background: url(Assets/education.jpeg);
    background-position: center;
    background-size: cover;
}
#right #details {
    width: 720px;
    height: 480px;
    /* border: 3px solid red; */
    /* display: grid; */
    /* justify-content: center; */
}

#details #textbox{
    width: inherit;
    height: 150px;
    /* border: 3px solid purple; */
    display: grid;
    align-content: center;
    margin-left: 30px;
}

#textbox #certificate{
    font-size: 28px;
    font-weight: bold;
    color: white;
}

#certificate::after{
       content: '';
       position: absolute;
       width: 25px;
       height: 25px;
       left: -17px;
       background-color: white;
       border: 4px solid #FF5722;
       left: 180px;
       border-radius: 50%;
       z-index: 1;
}

#textbox #institute {
    font-size: 20px;
    color: white;
}

#textbox #year {
    color: white;
}

#right h1{
    color: white;
}

.skills {
    width: 100%;
    height: 700px;
    background-color: #081b29;
    justify-items: center;
    border: 3px solid green;
    color: white;
}
#up {
    /* border: 3px solid purple; */
    height: 100px;
}
#up h1{
    padding-top: 2%; 
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 4px;
    text-decoration-color: #FF5722;
}
section {
    display: flex;
    flex-wrap: wrap;
}

#bottom {
    width: 600px;
    height: 500px;
    padding: 0px 90px;
    margin-left: 31%;
}

.bar {
    font-size: 26px;
}

#bottom .bar{
    margin: 20px 0;
}

#bottom:first-child{
    margin-top: 0;
}
#bottom:last-child{
    margin-bottom: 0;
}

#bottom .bar .info {
    margin-bottom: 5px;
}
#bottom .bar .info span {
    font-size: 20px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
}
#bottom .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000000;
    animation: anime 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

@keyframes anime{
    100%{
        transform: scaleX(1);
    }
}

#bottom .bar .progress-line span{
    height: 100%;
    background: linear-gradient(to right, red, #18AEC7, greenyellow);
    position: absolute;
    border-radius: 10px;
    animation: anime 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.progress-line.html span{
    width: 70%;
}
.progress-line.css span{
    width: 60%;
}
.progress-line.javascript span{
    width: 50%;
}
.progress-line.cpp span{
    width: 85%;
}
.progress-line.java span{
    width: 70%;
}

.contact {
    height: 650px;
    width: 100%;
    border: 3px solid red;
}
.contact #bottom{
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.cont {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-info{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500px;
    color: #081b29;
    border-radius: 50px;
}
.contact-info1 {
    height: 140px;
    width: 400px;
    padding-top: 15px;
    padding-left: 25px;
    border-radius: 20px;
    border: none;
    outline: none;
}
.contact-info:focus{
    border: 2px solid #FF5722;
}
.contact-info1:focus{
    border: 2px solid #FF5722;
}
.contact-info::placeholder{
    color: #97ccd5;
}
.contact-info1::placeholder{
    color: #97ccd5;
}
.cont button{
    display: flex;
    /* margin-left: 35%; */
    padding: 5px 30px;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #18AEC7, #97ccd5);
    cursor: pointer;
}
.projects{
    display: grid;
    background-color: #081b29;
    height: 900px;
    justify-items: center;

}
.projects #up {
    padding-top: 5vh;
    color: white;
}
.projects .inner{

    border: 3px solid yellow;
    width: 80%;
    height: 90vh;
}

.probox-left{
    margin-left: 2vw;
    margin-top: 2vh;
    border: 3px solid greenyellow;
    width: 60%;
    height: 27vh;
    background-color: #EEEEEE;
    overflow: hidden;
    border-radius: 20px;

}

.probox-right{
    margin-left: 29vw;
    margin-top: 2vh;
    border: 3px solid greenyellow;
    width: 60%;
    height: 27vh;
    background-color: #EEEEEE;
    overflow: hidden;
    border-radius: 20px;

}